@charset "UTF-8";
:root {
  --main-color: #212121;
  --accent-color: #2196F3;
  --main-font:"Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --header-background-color: #FFFFFF;
  --accent-background: #2F303A;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul, ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

a {
  display: block;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

body {
  font-family: var(--main-font);
  color: var(--main-color);
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 448px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
@media screen and (max-width: 767px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 768px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
@media screen and (max-width: 767px) {
  .mobile-menu {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    background-color: #ffffff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .mobile-menu__container {
    position: relative;
    padding-top: 48px;
    padding-bottom: 48px;
    padding-left: 40px;
  }

  .mobile-menu__close-btn {
    position: absolute;
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
    top: 15px;
    right: 15px;
  }
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
.modal-button {
  min-width: 200px;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  background-color: var(--accent-color);
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 32px;
  margin-right: auto;
  margin-left: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-button:hover, .modal-button:focus {
  background-color: #188ce8;
}

.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.logo-header {
  padding-top: 16px;
  padding-bottom: 16px;
}

.logo-footer {
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #2196f3;
}

@media screen and (min-width: 768px) {
  .logo-header {
    margin-right: 88px;
    padding-top: 26px;
    padding-bottom: 26px;
  }
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }

  .logo-header {
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 25px;
  }

  .logo-footer {
    font-size: 26px;
    line-height: 1.19;
  }
}
.logo_theme_light {
  color: #212121;
}

.logo_theme_dark {
  color: #ffffff;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 500ms linear, visibility 500ms linear;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 450px;
  height: auto;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}

.modal-close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  padding: 0;
}

.modal-close-button__icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-button:hover .modal-close-button__icon, .modal-close-button:focus .modal-close-button__icon {
  fill: var(--accent-color);
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.contact-form__action {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
  color: #212121;
}

.contact-form__input-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

/* Марджин задаем соседним элементам */
.contact-form__label {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
  color: #757575;
}

.contact-form__input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* На элементы фформы стилизируем только фокус, при наведении ничего меняться не должно */
}
.contact-form__input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.contact-form__input-icon {
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 12px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* Задать голубой цвет иконке, у которой есть сосед с классом .contact-form-input в состоянии фокуса */
}
.contact-form__input:focus + .contact-form__input-icon {
  fill: var(--accent-color);
}

.contact-form__message {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-form__message:focus {
  outline: none;
  border-color: var(--accent-color);
}
.contact-form__message::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.contact-form__checkbox {
  color: #ffffff;
}

.contact-form__checkbox-label {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #757575;
}
.contact-form__checkbox-label::before {
  display: block;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  cursor: pointer;
  content: "";
  margin-right: 7px;
  /* Задать акцентный цвет before, у которого первый сосед сверху в состоянии checked */
}
.contact-form__checkbox:checked + .contact-form__checkbox-label::before {
  background-color: var(--accent-color);
  background-image: url(../images/checkbox/check.svg);
  background-repeat: no-repeat;
  background-position: center;
  border-color: var(--accent-color);
}
.contact-form__checkbox:focus + .contact-form__checkbox-label::before {
  border-color: var(--accent-color);
}

.contact-form-checkbox-link {
  color: var(--accent-color);
}

.contact-form__button {
  align-self: center;
  width: 200px;
  padding: 10px 55px;
  margin-top: 30px;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  cursor: pointer;
}
.contact-form__button:hover, .contact-form__button:focus {
  background-color: #188ce8;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .menu {
    display: none;
  }

  .menu-address {
    display: none;
  }

  .mobile-menu-open-button {
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
    margin-left: auto;
  }

  .mobile-menu-open-button__icon {
    fill: #212121;
  }

  .mobile-menu__close-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu__close-btn:hover .mobile-menu__close-icon, .mobile-menu__close-btn:focus .mobile-menu__close-icon {
    fill: var(--accent-color);
  }

  .mobile-menu__list-item:not(:last-child) {
    margin-bottom: 32px;
  }

  .mobile-menu__list-link {
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 40px;
    line-height: 1.175;
    letter-spacing: 0.02em;
    color: #212121;
  }
  .mobile-menu__list-link:focus, .mobile-menu__list-link:hover {
    color: var(--accent-color);
  }

  .mobile-menu__list .mobile-menu__list-link.mobile-menu__link-current {
    color: var(--accent-color);
  }

  .mobile-menu__list-address {
    margin-top: 302px;
  }

  .mobile-menu__address-item:not(:last-child) {
    margin-bottom: 32px;
  }

  .mobile-menu__link-phone {
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: #2196f3;
  }

  .mobile-menu__link-mail {
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: #757575;
  }

  .mobile-menu__social-list {
    margin-top: 64px;
    display: flex;
  }

  .mobile-menu__social-list-item {
    position: relative;
  }
  .mobile-menu__social-list-item:not(:last-child) {
    margin-right: 20px;
  }
  .mobile-menu__social-list-item:not(:first-child)::before {
    position: absolute;
    display: block;
    top: 0;
    left: -10px;
    height: 22px;
    content: "";
    border: 1px solid rgba(33, 33, 33, 0.2);
    transform: rotate(180deg);
  }

  .mobile-menu__social-list-link {
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: #2196f3;
  }
}
@media screen and (min-width: 768px) {
  .mobile-menu-open-button {
    display: none;
  }

  .navigation {
    display: flex;
    align-items: center;
  }

  .menu {
    display: flex;
  }

  .menu__item:not(:last-child) {
    margin-right: 50px;
  }

  .menu__link {
    position: relative;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: inherit;
    padding-top: 32px;
    padding-bottom: 32px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu__link:hover, .menu__link:focus {
    color: var(--accent-color);
  }

  .menu-address {
    display: flex;
    flex-direction: column;
  }

  .menu .menu__link.menu__link_current {
    color: var(--accent-color);
  }

  .menu .menu__link.menu__link_current::after {
    position: absolute;
    display: block;
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    margin-top: 28px;
    background-color: var(--accent-color);
  }

  .menu-address__item:not(:last-child) {
    margin-bottom: 10px;
  }

  .menu-address__mail {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: #757575;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu-address__mail:hover, .menu-address__mail:focus {
    color: var(--accent-color);
  }

  .menu-address__icon {
    margin-right: 8px;
    width: 10px;
    height: 14px;
    fill: #757575;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu-address__mail:hover .menu-address__icon, .menu-address__mail:focus .menu-address__icon {
    fill: var(--accent-color);
  }

  .menu-address__phone-number {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: #757575;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu-address__phone-number:hover, .menu-address__phone-number:focus {
    color: var(--accent-color);
  }

  .menu-address__phone-icon {
    margin-right: 8px;
    width: 14px;
    height: 10px;
    fill: #757575;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu-address__phone-number:hover .menu-address__phone-icon, .menu-address__phone-number:focus .menu-address__phone-icon {
    fill: var(--accent-color);
  }
}
@media screen and (min-width: 1200px) {
  .page-header {
    border-bottom: 1px solid #ececec;
  }

  .header {
    background-color: var(--header-background-color);
  }

  .navigation {
    display: flex;
    align-items: center;
  }

  .menu {
    display: flex;
    align-items: center;
  }

  .menu-address {
    display: flex;
    flex-direction: row;
  }

  .menu .menu__link.menu__link_current {
    color: var(--accent-color);
  }

  .menu .menu__link.menu__link_current::after {
    position: absolute;
    display: block;
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    margin-top: 28px;
    background-color: var(--accent-color);
  }

  .menu__item:not(:last-child) {
    margin-right: 50px;
  }

  .menu__link {
    position: relative;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: inherit;
    padding-top: 32px;
    padding-bottom: 32px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu__link:hover, .menu__link:focus {
    color: var(--accent-color);
  }

  .menu-address__item:not(:last-child) {
    margin-right: 50px;
  }

  .menu-address__mail {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
    padding-top: 32px;
    padding-bottom: 32px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu-address__mail:hover, .menu-address__mail:focus {
    color: var(--accent-color);
  }

  .menu-address__icon {
    margin-right: 10px;
    width: 16px;
    height: 12px;
    fill: #757575;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu-address__mail:hover .menu-address__icon, .menu-address__mail:focus .menu-address__icon {
    fill: var(--accent-color);
  }

  .menu-address__phone-number {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
    padding-top: 32px;
    padding-bottom: 32px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu-address__phone-number:hover, .menu-address__phone-number:focus {
    color: var(--accent-color);
  }

  .menu-address__phone-icon {
    margin-right: 10px;
    width: 10px;
    height: 16px;
    fill: #757575;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu-address__phone-number:hover .menu-address__phone-icon, .menu-address__phone-number:focus .menu-address__phone-icon {
    fill: var(--accent-color);
  }
}
.hero {
  max-width: 480px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-mobile-image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--accent-background);
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-mobile-image@2x.jpg");
  }
}

.hero__title {
  max-width: 360px;
  min-height: 84px;
  font-family: var(--main-font);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  padding-top: 118px;
}

@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-tablet-image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: var(--accent-background);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-tablet-image@2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-desktop-image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: var(--accent-background);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-desktop-image@2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    max-width: 696px;
    min-height: 120px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #ffffff;
    margin-right: auto;
    margin-left: auto;
    padding-top: 200px;
    margin-bottom: 30px;
  }
}
.advantages {
  padding-bottom: 0;
}

.advantages-list {
  display: block;
}

.advantages-list__container {
  width: 100%;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  background-color: #f5f4fa;
}

@media screen and (max-width: 1200px) {
  .advantages-list__item:last-child {
    padding-bottom: 60px;
  }
}
@media screen and (max-width: 480px) {
  .advantages-list__subtitle {
    text-align: center;
  }

  .advantages-list__subtitle {
    text-align: center;
  }

  .advantages-list__description {
    width: 100%;
    margin-bottom: 30px;
  }
}
.advantages-list__subtitle {
  margin-bottom: 10px;
}

.advantages-list__subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.advantages-list__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

@media screen and (min-width: 768px) {
  .advantages-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: -15px;
    margin-left: -15px;
  }

  .advantages-list__container {
    width: 354px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    background-color: #f5f4fa;
  }

  .advantages-list__item {
    flex-basis: calc((100% - 30px) / 2);
    margin-top: 15px;
    margin-left: 15px;
    min-width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .advantages-list {
    display: flex;
    flex: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }

  .advantages-list__container {
    width: 270px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    background-color: #f5f4fa;
  }

  .advantages-list__item {
    flex-basis: calc((100% - 120px) / 4);
    margin-top: 30px;
    margin-left: 30px;
    min-width: 270px;
  }
}
@media screen and (max-width: 1200px) {
  .services {
    display: none;
  }
}
.services__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.services__title {
  margin-bottom: 50px;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.services-list__item {
  position: relative;
  flex-basis: calc((100% - 90px) / 3);
  margin-left: 30px;
  margin-top: 30px;
}

.services-list__description {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  background: rgba(47, 48, 58, 0.8);
}

.our-team {
  background-color: #f5f4fa;
}

.our-team__title {
  margin-bottom: 30px;
}

.our-team__title {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.our-team-list__subtitle {
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.our-team-list__description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 16px;
}

.social-list {
  display: flex;
  justify-content: center;
}

.social-list__item:not(:last-child) {
  margin-right: 10px;
}

.social-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list__link:hover, .social-list__link:focus {
  background-color: var(--accent-color);
}

.social-list__icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list__link:hover .social-list__icon, .social-list__link:focus .social-list__icon {
  fill: #ffffff;
}

@media screen and (min-width: 1200px) {
  .our-team__title {
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 767px) {
  .our-team-list__item:not(:last-child) {
    margin-bottom: 30px;
  }

  .our-team-list__content-wrapper {
    padding-top: 30px;
    padding-bottom: 24px;
    padding-left: 122px;
    padding-right: 122px;
    background: #ffffff;
    /* material shadow v1 */
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }
}
@media screen and (min-width: 768px) {
  .our-team-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }

  .our-team-list__item {
    flex-basis: calc((100% - 60px) / 2);
    margin-left: 30px;
    margin-top: 30px;
  }

  .our-team-list__content-wrapper {
    padding-top: 16px;
    padding-bottom: 24px;
    padding-left: 74px;
    padding-right: 74px;
    background: #ffffff;
    /* material shadow v1 */
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }
}
@media screen and (min-width: 1200px) {
  .our-team-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }

  .our-team-list__item {
    flex-basis: calc((100% - 120px) / 4);
    margin-left: 30px;
    margin-top: 30px;
  }

  .our-team-list__content-wrapper {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 32px;
    padding-right: 32px;
    background: #ffffff;
    /* material shadow v1 */
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }
}
.our-clients__title {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
  margin-bottom: 50px;
}

.our-clients-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.our-clients-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.our-clients-list__link:hover, .our-clients-list__link:focus {
  border-color: var(--accent-color);
}

.our-clients-list__item:not(:last-child) {
  margin-right: 30px;
}

.our-client-list__icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.our-clients-list__link:hover .our-client-list__icon, .our-clients-list__link:focus .our-client-list__icon {
  fill: var(--accent-color);
}

.footer {
  background-color: var(--accent-background);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-list {
  margin-top: 20px;
}

@media screen and (max-width: 767px) {
  .footer {
    text-align: center;
  }
}
.filter-portfolio-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-portfolio-list:active {
  color: var(--accent-color);
}

.filter-portfolio-list__item:not(:last-child) {
  margin-right: 8px;
}

.filter-portfolio-list__button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  color: inherit;
  background-color: #f5f4fa;
  border-radius: 4px;
  border: none;
  padding: 6px 22px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-portfolio-list__button:hover, .filter-portfolio-list__button:focus {
  color: #ffffff;
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.portfolio-list__item {
  flex-basis: calc((100% - 90px) / 3);
  margin-left: 30px;
  margin-top: 30px;
}

.portfolio-list__wrapper {
  padding: 20px 24px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  border-top: 0px;
}

.portfolio__subtitle {
  margin-bottom: 4px;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: inherit;
}

.portfolio__description {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: #757575;
}

.portfolio-list__link {
  font-family: inherit;
  color: inherit;
}
.portfolio-list__link:hover, .portfolio-list__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

/* ==========================Overlay================*/
.portfolio-list__box {
  position: relative;
  overflow: hidden;
}

.portfolio__overlay {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  padding-left: 24px;
  padding-right: 24px;
  transform: translateY(100%);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list__link:hover .portfolio__overlay {
  opacity: 1;
  transform: translateY(0);
}

.portfolio__overlay-description {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  padding: 63px 24px;
  letter-spacing: 0.03em;
  color: #ffffff;
}/*# sourceMappingURL=main.css.map */