.advantages {
  padding-bottom: 0;
}

.advantages-list {
  display: block;

  @media screen and (min-width: 768px) {
    display: flex;
    flex: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }
}

.advantages-list__container {
  width: 270px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  background-color: #f5f4fa;
}

// .advantages{
//     padding-bottom: 0;
// }

// .advantages-list {
//     display:flex;
//     flex: wrap;
//     margin-top: -30px;
//     margin-left: -30px;
// }

// .advantages-list__container {
//     width: 270px;
//     height: 120px;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     margin-bottom: 30px;
//     background-color: #F5F4FA;;
// }

// .advantages-list__item {
//     flex-basis: calc((100% - 120px) / 4);
//     margin-top: 30px;
//     margin-left: 30px;
//     min-width: 270px;
// }

// .advantages-list__subtitle {
//     margin-bottom: 10px;
// }

// .advantages-list__subtitle {
//     font-weight: 700;
//     font-size: 14px;
//     line-height: 1.14;
//     letter-spacing: 0.03em;
//     text-transform: uppercase;
// }

// .advantages-list__description {
//     font-weight: 400;
//     font-size: 14px;
//     line-height: 1.71;

//     letter-spacing: 0.03em;

//     color: #757575;
// }
