// .page-header {
//   border-bottom: 1px solid #ececec;
// }

// .header-container {
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
// }

// .header {
//   background-color: var(--header-background-color);
// }

// .navigation {
//   display: flex;
//   align-items: center;
// }

// .menu {
//   display: flex;
//   align-items: center;
// }

// .menu-address {
//   display: flex;
// }

// .menu .menu__link.menu__link_current {
//   color: var(--accent-color);
// }

// .menu .menu__link.menu__link_current::after {
//   position: absolute;

//   display: block;
//   content: "";
//   width: 100%;
//   height: 4px;
//   border-radius: 2px;
//   margin-top: 28px;

//   background-color: var(--accent-color);
// }

// .menu__item:not(:last-child) {
//   margin-right: 50px;
// }

// .menu__link {
//   position: relative;
//   font-weight: 500;
//   font-size: 14px;
//   line-height: 1.14;
//   letter-spacing: 0.02em;
//   color: inherit;

//   padding-top: 32px;
//   padding-bottom: 32px;

//   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

//   &:hover,
//   &:focus {
//     color: var(--accent-color);
//   }
// }

// .menu-address__item:not(:last-child) {
//   margin-right: 50px;
// }

// .menu-address__mail {
//   display: flex;
//   align-items: center;
//   font-weight: 500;
//   font-size: 14px;
//   line-height: 1.14;
//   letter-spacing: 0.02em;

//   color: #757575;

//   padding-top: 32px;
//   padding-bottom: 32px;

//   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

//   &:hover,
//   &:focus {
//     color: var(--accent-color);
//   }
// }

// .menu-address__icon {
//   margin-right: 10px;
//   fill: #757575;
//   transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

//   .menu-address__mail:hover &,
//   .menu-address__mail:focus & {
//     fill: var(--accent-color);
//   }
// }

// .menu-address__phone-number {
//   display: flex;
//   align-items: center;
//   font-weight: 500;
//   font-size: 14px;
//   line-height: 1.14;
//   letter-spacing: 0.02em;
//   color: #757575;

//   padding-top: 32px;
//   padding-bottom: 32px;

//   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

//   &:hover,
//   &:focus {
//     color: var(--accent-color);
//   }
// }

// .menu-address__phone-icon {
//   margin-right: 10px;
//   fill: #757575;
//   transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

//   .menu-address__phone-number:hover &,
//   .menu-address__phone-number:focus & {
//     fill: var(--accent-color);
//   }
// }
