.hero {
  max-width: 480px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("/images/hero/hero-mobile-image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--accent-background);

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("/images/hero/hero-mobile-image@2x.jpg");
  }
}

.hero__title {
  max-width: 360px;
  min-height: 84px;
  font-family: var(--main-font);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #ffffff;

  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  padding-top: 118px;
}

@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("/images/hero/hero-tablet-image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: var(--accent-background);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url("/images/hero/hero-tablet-image@2x.jpg");
    }
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("/images/hero/hero-desktop-image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: var(--accent-background);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url("/images/hero/hero-desktop-image@2x.jpg");
    }
  }
}

// .hero {
//
//     background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
//     url("../images/hero/hero-background.jpg");
//     background-size: cover;
//     background-repeat: no-repeat;
//     background-color: var(--accent-background);
//     padding-top: 200px;
//     padding-bottom: 200px;
// }

// .hero__title {
// max-width: 696px;
// min-height: 120px;
// font-weight: 900;
// font-size: 44px;
// line-height: 1.36;

// text-align: center;
// letter-spacing: 0.06em;
// text-transform: uppercase;

// color: #FFFFFF;

// margin-right:auto;
// margin-left:auto;
// margin-bottom: 40px;
// }
