.hero {
    max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), 
    url("../images/hero/hero-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: var(--accent-background);
    padding-top: 200px;
    padding-bottom: 200px;
}

.hero__title {
max-width: 696px;
min-height: 120px;
font-weight: 900;
font-size: 44px;
line-height: 1.36;

text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;

color: #FFFFFF;

margin-right:auto;
margin-left:auto;
margin-bottom: 40px;
}

