.our-team {
  background-color: #f5f4fa;
}

.our-team__title {
  margin-bottom: 30px;
}

.our-team__title {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;

  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}

.our-team-list__subtitle {
  margin-top: 30px;
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;

  text-align: center;
  letter-spacing: 0.03em;
}

.our-team-list__description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;

  text-align: center;
  letter-spacing: 0.03em;

  color: #757575;
  margin-bottom: 16px;
}

.social-list {
  display: flex;
  justify-content: center;
}


.social-list__item:not(:last-child) {
  margin-right: 10px;
}

.social-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.social-list__icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .social-list__link:hover &,
  .social-list__link:focus & {
    fill: #ffffff;
  }
}

@media screen and(min-width:1200px) {
  .our-team__title {
    margin-bottom: 50px;
  }
}

@media screen and(max-width:767px) {
  .our-team-list__item:not(:last-child) {
    margin-bottom: 30px;
  }

  .our-team-list__content-wrapper {
    padding-top: 30px;
    padding-bottom: 24px;
    padding-left: 122px;
    padding-right: 122px;

    background: #ffffff;
    /* material shadow v1 */

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }
}

@media screen and(min-width:768px) {
  .our-team-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }

  .our-team-list__item {
    flex-basis: calc((100% - 60px) / 2);
    margin-left: 30px;
    margin-top: 30px;
  }

  .our-team-list__content-wrapper {
    padding-top: 16px;
    padding-bottom: 24px;
    padding-left: 74px;
    padding-right: 74px;

    background: #ffffff;
    /* material shadow v1 */

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }
}

@media screen and(min-width:1200px) {
  .our-team-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }

  .our-team-list__item {
    flex-basis: calc((100% - 120px) / 4);
    margin-left: 30px;
    margin-top: 30px;
  }

  .our-team-list__content-wrapper {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 32px;
    padding-right: 32px;

    background: #ffffff;
    /* material shadow v1 */

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }
}


