@media screen and (max-width: 767px) {
    .services {
      display: none;
    }
}

// .services__title {
//     font-weight: 700;
//     font-size: 36px;
//     line-height: 1.16;
//     text-align: center;
//     letter-spacing: 0.03em;
//     }

// .services__title {
//     margin-bottom: 50px;
// }

// .services-list {
//     display: flex;
//     flex-wrap: wrap;
//    margin-left: -30px;
//    margin-top: -30px;
// }

// .services-list__item {
//     position: relative;
//     flex-basis: calc((100% - 90px) / 3);
//     margin-left: 30px;
//     margin-top: 30px;
// }

// .services-list__description {
// width: 100%;
// position: absolute;
// bottom: 0;
// left: 0;

// padding-top: 27px;
// padding-bottom: 27px;

// font-family: var(--main-font);
// font-weight: 700;
// font-size: 14px;
// line-height: 1.14;
// text-align: center;
// letter-spacing: 0.03em;
// text-transform: uppercase;

// color: #FFFFFF;
// background: rgba(47, 48, 58, 0.8);
// }