.modal-button {
  min-width: 200px;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  cursor: pointer;
  background-color: var(--accent-color);

  color: #ffffff;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 32px;

  margin-right: auto;
  margin-left: auto;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: #188ce8;
  }
}

// .modal-button {
//   min-width: 200px;
//   font-family: inherit;
//   font-weight: 700;
//   font-size: 16px;
//   line-height: 1.87;

//   display: flex;
//   align-items: center;
//   text-align: center;
//   letter-spacing: 0.06em;
//   cursor: pointer;
//   background-color: var(--accent-color);
//   color: #ffffff;

//   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
//   border-radius: 4px;
//   padding: 10px 32px;

//   margin-right: auto;
//   margin-left: auto;

//   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

//   &:hover,
//   &:focus {
//     background-color: #188ce8;
//   }
// }
